{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "KAP VYK API",
    "description" : "Kap bildirimleri Rest tabanlı api servis projesi",
    "version" : "0.0.1-apinizer-337-07a3583"
  },
  "servers" : [ {
    "url" : "https://apigwdev.mkk.com.tr/api/vyk"
  } ],
  "security" : [ {
    "basicAuth" : [ "read", "write" ]
  } ],
  "paths" : {
    "/members" : {
      "get" : {
        "tags" : [ "Şirket Servisleri" ],
        "summary" : "Şirket Listesi Servisi",
        "description" : "KAP üyesi tüm şirketlerin listesini dönen servistir.",
        "operationId" : "getMembers",
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "MemberInfo",
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "properties" : {
                        "id" : {
                          "title" : "id",
                          "type" : "string"
                        }
                      }
                    },
                    "title" : {
                      "type" : "string",
                      "properties" : {
                        "title" : {
                          "title" : "title",
                          "type" : "string"
                        }
                      }
                    },
                    "stockCode" : {
                      "type" : "string",
                      "properties" : {
                        "stockCode" : {
                          "title" : "stockCode",
                          "type" : "string"
                        }
                      }
                    },
                    "memberType" : {
                      "type" : "string",
                      "properties" : {
                        "memberType" : {
                          "title" : "memberType",
                          "type" : "string"
                        }
                      }
                    },
                    "kfifUrl" : {
                      "type" : "string",
                      "properties" : {
                        "kfifUrl" : {
                          "title" : "kfifUrl",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "id" : "string",
                  "title" : "string",
                  "stockCode" : "string",
                  "memberType" : "string",
                  "kfifUrl" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/memberSecurities" : {
      "get" : {
        "tags" : [ "Şirket Servisleri" ],
        "summary" : "Şirket Menkul Kıymet Bilgileri Servisi",
        "description" : "IGS(işlem gören şirket) tipindeki şirketlerin özet bilgileri ve şirkete ait tüm kıymetlerin genel bilgilerini geri dönen servistir.",
        "operationId" : "getMemberSecurities",
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "MemberSecuritiesResponse",
                  "type" : "object",
                  "properties" : {
                    "member" : {
                      "title" : "CompanyInfo",
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "properties" : {
                            "id" : {
                              "title" : "id",
                              "type" : "string"
                            }
                          }
                        },
                        "memberType" : {
                          "type" : "string",
                          "properties" : {
                            "memberType" : {
                              "title" : "memberType",
                              "type" : "string"
                            }
                          }
                        },
                        "sermayeSistemi" : {
                          "type" : "string",
                          "properties" : {
                            "sermayeSistemi" : {
                              "title" : "sermayeSistemi",
                              "type" : "string"
                            }
                          }
                        },
                        "kayitliSermayeTavani" : {
                          "type" : "number",
                          "properties" : {
                            "kayitliSermayeTavani" : {
                              "title" : "kayitliSermayeTavani",
                              "type" : "number"
                            }
                          }
                        },
                        "kstSonGecerlilikTarihi" : {
                          "type" : "string",
                          "properties" : {
                            "kstSonGecerlilikTarihi" : {
                              "title" : "kstSonGecerlilikTarihi",
                              "type" : "string"
                            }
                          }
                        },
                        "sirketUnvan" : {
                          "type" : "string",
                          "properties" : {
                            "sirketUnvan" : {
                              "title" : "sirketUnvan",
                              "type" : "string"
                            }
                          }
                        },
                        "mksMbrId" : {
                          "type" : "string",
                          "properties" : {
                            "mksMbrId" : {
                              "title" : "mksMbrId",
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "securities" : {
                      "type" : "array",
                      "properties" : {
                        "securities" : {
                          "title" : "securities",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/MemberSecurity"
                          }
                        }
                      },
                      "items" : {
                        "title" : "MemberSecurity",
                        "type" : "object",
                        "properties" : {
                          "isin" : {
                            "type" : "string",
                            "properties" : {
                              "isin" : {
                                "title" : "isin",
                                "type" : "string"
                              }
                            }
                          },
                          "isinDesc" : {
                            "type" : "string",
                            "properties" : {
                              "isinDesc" : {
                                "title" : "isinDesc",
                                "type" : "string"
                              }
                            }
                          },
                          "borsaKodu" : {
                            "type" : "string",
                            "properties" : {
                              "borsaKodu" : {
                                "title" : "borsaKodu",
                                "type" : "string"
                              }
                            }
                          },
                          "takasKodu" : {
                            "type" : "string",
                            "properties" : {
                              "takasKodu" : {
                                "title" : "takasKodu",
                                "type" : "string"
                              }
                            }
                          },
                          "tertipGroup" : {
                            "type" : "string",
                            "properties" : {
                              "tertipGroup" : {
                                "title" : "tertipGroup",
                                "type" : "string"
                              }
                            }
                          },
                          "capital" : {
                            "type" : "number",
                            "properties" : {
                              "capital" : {
                                "title" : "capital",
                                "type" : "number"
                              }
                            }
                          },
                          "currentCapital" : {
                            "type" : "number",
                            "properties" : {
                              "currentCapital" : {
                                "title" : "currentCapital",
                                "type" : "number"
                              }
                            }
                          },
                          "groupCode" : {
                            "type" : "string",
                            "properties" : {
                              "groupCode" : {
                                "title" : "groupCode",
                                "type" : "string"
                              }
                            }
                          },
                          "groupCodeDesc" : {
                            "type" : "string",
                            "properties" : {
                              "groupCodeDesc" : {
                                "title" : "groupCodeDesc",
                                "type" : "string"
                              }
                            }
                          },
                          "borsadaIslemeAcik" : {
                            "type" : "boolean",
                            "properties" : {
                              "borsadaIslemeAcik" : {
                                "title" : "borsadaIslemeAcik",
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "member" : {
                    "id" : "string",
                    "memberType" : "string",
                    "sermayeSistemi" : "string",
                    "kayitliSermayeTavani" : 1.5,
                    "kstSonGecerlilikTarihi" : "string",
                    "sirketUnvan" : "string",
                    "mksMbrId" : "string"
                  },
                  "securities" : [ {
                    "isin" : "string",
                    "isinDesc" : "string",
                    "borsaKodu" : "string",
                    "takasKodu" : "string",
                    "tertipGroup" : "string",
                    "capital" : 1.5,
                    "currentCapital" : 1.5,
                    "groupCode" : "string",
                    "groupCodeDesc" : "string",
                    "borsadaIslemeAcik" : true
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/memberDetail/{id}" : {
      "get" : {
        "tags" : [ "Şirket Servisleri" ],
        "summary" : "Şirket Detay Servisi",
        "description" : "Sorgulanan şirkete ait genel bilgileri dönen servistir.",
        "operationId" : "getMemberById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "title" : "id",
            "pattern" : "^\\d{1,5}$",
            "type" : "string"
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "CompanyDetailResponse",
                  "type" : "object",
                  "properties" : {
                    "nameTr" : {
                      "type" : "string",
                      "properties" : {
                        "nameTr" : {
                          "title" : "nameTr",
                          "type" : "string"
                        }
                      }
                    },
                    "nameEn" : {
                      "type" : "string",
                      "properties" : {
                        "nameEn" : {
                          "title" : "nameEn",
                          "type" : "string"
                        }
                      }
                    },
                    "key" : {
                      "type" : "string",
                      "properties" : {
                        "key" : {
                          "title" : "key",
                          "type" : "string"
                        }
                      }
                    },
                    "publishDateTime" : {
                      "type" : "string",
                      "properties" : {
                        "publishDateTime" : {
                          "title" : "publishDateTime",
                          "type" : "string"
                        }
                      }
                    },
                    "value" : {
                      "type" : "object",
                      "properties" : {
                        "value" : {
                          "title" : "value",
                          "type" : "object"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "nameTr" : "string",
                  "nameEn" : "string",
                  "key" : "string",
                  "publishDateTime" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/lastDisclosureIndex" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Yayınlanmış Son Bildirim id Servisi",
        "description" : "Yayınlanan son Bildirime ait Id bilgisini dönen servistir..",
        "operationId" : "getLastDisclosureIndex",
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "LastDisclosureIndexResponse",
                  "type" : "object",
                  "properties" : {
                    "lastDisclosureIndex" : {
                      "type" : "string",
                      "properties" : {
                        "lastDisclosureIndex" : {
                          "title" : "lastDisclosureIndex",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "lastDisclosureIndex" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/funds" : {
      "get" : {
        "tags" : [ "Fon Servisleri" ],
        "summary" : "Fon Listesi Servisi",
        "description" : "Fon listesini dönen servistir.",
        "operationId" : "getFunds",
        "parameters" : [ {
          "name" : "fundState",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "fundState",
            "type" : "array",
            "items" : {
              "title" : "fundState",
              "type" : "string"
            }
          },
          "examples" : { }
        }, {
          "name" : "fundClass",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "fundClass",
            "type" : "array",
            "items" : {
              "title" : "fundClass",
              "type" : "string"
            }
          },
          "examples" : { }
        }, {
          "name" : "fundType",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "fundType",
            "type" : "array",
            "items" : {
              "title" : "fundType",
              "type" : "string"
            }
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "FundInfo",
                  "type" : "object",
                  "properties" : {
                    "umbMemberOid" : {
                      "type" : "string",
                      "properties" : {
                        "umbMemberOid" : {
                          "title" : "umbMemberOid",
                          "type" : "string"
                        }
                      }
                    },
                    "fundOid" : {
                      "type" : "string",
                      "properties" : {
                        "fundOid" : {
                          "title" : "fundOid",
                          "type" : "string"
                        }
                      }
                    },
                    "fundId" : {
                      "type" : "number",
                      "properties" : {
                        "fundId" : {
                          "title" : "fundId",
                          "type" : "number"
                        }
                      }
                    },
                    "fundName" : {
                      "type" : "string",
                      "properties" : {
                        "fundName" : {
                          "title" : "fundName",
                          "type" : "string"
                        }
                      }
                    },
                    "fundCode" : {
                      "type" : "string",
                      "properties" : {
                        "fundCode" : {
                          "title" : "fundCode",
                          "type" : "string"
                        }
                      }
                    },
                    "fundType" : {
                      "type" : "string",
                      "properties" : {
                        "fundType" : {
                          "title" : "fundType",
                          "type" : "string"
                        }
                      }
                    },
                    "fundClass" : {
                      "type" : "string",
                      "properties" : {
                        "fundClass" : {
                          "title" : "fundClass",
                          "type" : "string"
                        }
                      }
                    },
                    "fundExpiry" : {
                      "type" : "string",
                      "properties" : {
                        "fundExpiry" : {
                          "title" : "fundExpiry",
                          "type" : "string"
                        }
                      }
                    },
                    "fundState" : {
                      "type" : "string",
                      "properties" : {
                        "fundState" : {
                          "title" : "fundState",
                          "type" : "string"
                        }
                      }
                    },
                    "fundMemberOid" : {
                      "type" : "string",
                      "properties" : {
                        "fundMemberOid" : {
                          "title" : "fundMemberOid",
                          "type" : "string"
                        }
                      }
                    },
                    "umbMemberTypes" : {
                      "type" : "string",
                      "properties" : {
                        "umbMemberTypes" : {
                          "title" : "umbMemberTypes",
                          "type" : "string"
                        }
                      }
                    },
                    "fundMemberTypes" : {
                      "type" : "string",
                      "properties" : {
                        "fundMemberTypes" : {
                          "title" : "fundMemberTypes",
                          "type" : "string"
                        }
                      }
                    },
                    "kapUrl" : {
                      "type" : "string",
                      "properties" : {
                        "kapUrl" : {
                          "title" : "kapUrl",
                          "type" : "string"
                        }
                      }
                    },
                    "nonInactiveCount" : {
                      "type" : "number",
                      "properties" : {
                        "nonInactiveCount" : {
                          "title" : "nonInactiveCount",
                          "type" : "number"
                        }
                      }
                    },
                    "fundCompanyId" : {
                      "type" : "string",
                      "properties" : {
                        "fundCompanyId" : {
                          "title" : "fundCompanyId",
                          "type" : "string"
                        }
                      }
                    },
                    "fundCompanyTitle" : {
                      "type" : "string",
                      "properties" : {
                        "fundCompanyTitle" : {
                          "title" : "fundCompanyTitle",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "umbMemberOid" : "string",
                  "fundOid" : "string",
                  "fundId" : 1.5,
                  "fundName" : "string",
                  "fundCode" : "string",
                  "fundType" : "string",
                  "fundClass" : "string",
                  "fundExpiry" : "string",
                  "fundState" : "string",
                  "fundMemberOid" : "string",
                  "umbMemberTypes" : "string",
                  "fundMemberTypes" : "string",
                  "kapUrl" : "string",
                  "nonInactiveCount" : 1.5,
                  "fundCompanyId" : "string",
                  "fundCompanyTitle" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/fundDetail/{id}" : {
      "get" : {
        "tags" : [ "Fon Servisleri" ],
        "summary" : "Fon Detay Servisi",
        "description" : "Sorgulanan fona ait genel bilgileri dönen servistir.",
        "operationId" : "getFundById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "title" : "id",
            "pattern" : "^\\d{1,5}$",
            "type" : "string"
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "FundDetailResponse",
                  "type" : "object",
                  "properties" : {
                    "nameTr" : {
                      "type" : "string",
                      "properties" : {
                        "nameTr" : {
                          "title" : "nameTr",
                          "type" : "string"
                        }
                      }
                    },
                    "nameEn" : {
                      "type" : "string",
                      "properties" : {
                        "nameEn" : {
                          "title" : "nameEn",
                          "type" : "string"
                        }
                      }
                    },
                    "key" : {
                      "type" : "string",
                      "properties" : {
                        "key" : {
                          "title" : "key",
                          "type" : "string"
                        }
                      }
                    },
                    "publishDateTime" : {
                      "type" : "string",
                      "properties" : {
                        "publishDateTime" : {
                          "title" : "publishDateTime",
                          "type" : "string"
                        }
                      }
                    },
                    "value" : {
                      "type" : "object",
                      "properties" : {
                        "value" : {
                          "title" : "value",
                          "type" : "object"
                        }
                      }
                    },
                    "codeKey" : {
                      "type" : "string",
                      "properties" : {
                        "codeKey" : {
                          "title" : "codeKey",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "nameTr" : "string",
                  "nameEn" : "string",
                  "key" : "string",
                  "publishDateTime" : "string",
                  "codeKey" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/downloadAttachment/{id}" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Bildirim Ekleri İndirme Servisi",
        "description" : "Bildirim detay(disclosureDetail) servis dönüşünde yer alan “attachmentUrls” alanından gelen url bilgisi ile downloadAttachment servisi çağrılarak bildirim ekleri indirilir.",
        "operationId" : "getPublicDisclosureFile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "title" : "id",
            "type" : "string"
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "",
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/disclosures" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Bildirim Listesi Servisi",
        "description" : "Request mesajında gönderilen disclosureIndex’den itibaren ilk 50 bildirime ait tip, sınıf, bildirim id ve rapor id bloğunu getiren servistir.",
        "operationId" : "getDisclosuresInfoList",
        "parameters" : [ {
          "name" : "disclosureIndex",
          "in" : "query",
          "description" : "Gönderilen index ten itibaren listeleme yapılacak Bildirim id bilgisi",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "disclosureIndex",
            "pattern" : "^\\d{1,15}$",
            "type" : "string",
            "description" : "Gönderilen index ten itibaren listeleme yapılacak Bildirim id bilgisi"
          },
          "examples" : { }
        }, {
          "name" : "disclosureTypes",
          "in" : "query",
          "description" : "Listede gönderilmesi beklenen Bildirim tipi",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "disclosureTypes",
            "type" : "string",
            "description" : "Listede gönderilmesi beklenen Bildirim tipi",
            "example" : "FR"
          },
          "examples" : { }
        }, {
          "name" : "disclosureClass",
          "in" : "query",
          "description" : "Listede gönderilmesi beklenen Bildirim sınıfı",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "disclosureClass",
            "type" : "string",
            "description" : "Listede gönderilmesi beklenen Bildirim sınıfı",
            "example" : "ODA"
          },
          "examples" : { }
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "companyId",
            "type" : "array",
            "items" : {
              "title" : "companyId",
              "type" : "string"
            }
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "DisclosureInfoResponse",
                  "type" : "object",
                  "properties" : {
                    "disclosureIndex" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureIndex" : {
                          "title" : "disclosureIndex",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureType" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureType" : {
                          "title" : "disclosureType",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureClass" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureClass" : {
                          "title" : "disclosureClass",
                          "type" : "string"
                        }
                      }
                    },
                    "subReportIds" : {
                      "type" : "array",
                      "properties" : {
                        "subReportIds" : {
                          "title" : "subReportIds",
                          "type" : "array",
                          "items" : {
                            "title" : "subReportIds",
                            "type" : "string"
                          }
                        }
                      },
                      "items" : {
                        "title" : "subReportIds",
                        "type" : "string"
                      }
                    },
                    "title" : {
                      "type" : "string",
                      "properties" : {
                        "title" : {
                          "title" : "title",
                          "type" : "string"
                        }
                      }
                    },
                    "companyId" : {
                      "type" : "string",
                      "properties" : {
                        "companyId" : {
                          "title" : "companyId",
                          "type" : "string"
                        }
                      }
                    },
                    "fundId" : {
                      "type" : "string",
                      "properties" : {
                        "fundId" : {
                          "title" : "fundId",
                          "type" : "string"
                        }
                      }
                    },
                    "fundCode" : {
                      "type" : "string",
                      "properties" : {
                        "fundCode" : {
                          "title" : "fundCode",
                          "type" : "string"
                        }
                      }
                    },
                    "acceptedDataFileTypes" : {
                      "type" : "array",
                      "properties" : {
                        "acceptedDataFileTypes" : {
                          "title" : "acceptedDataFileTypes",
                          "type" : "array",
                          "items" : {
                            "title" : "acceptedDataFileTypes",
                            "type" : "string"
                          }
                        }
                      },
                      "items" : {
                        "title" : "acceptedDataFileTypes",
                        "type" : "string"
                      }
                    }
                  }
                },
                "example" : {
                  "disclosureIndex" : "string",
                  "disclosureType" : "string",
                  "disclosureClass" : "string",
                  "subReportIds" : [ "string" ],
                  "title" : "string",
                  "companyId" : "string",
                  "fundId" : "string",
                  "fundCode" : "string",
                  "acceptedDataFileTypes" : [ "string" ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/disclosureDetail/{disclosureIndex}" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Bildirim Detay Servisi",
        "description" : "Verilen bildirim indeksine ait bildirimin detaylarını getiren servistir. DisclsureIndex bilgisi disclosures servisinde listelenen numaralardan belirlenebilir.",
        "operationId" : "getDisclosureById",
        "parameters" : [ {
          "name" : "disclosureIndex",
          "in" : "path",
          "description" : "Gönderilen indexe ait bildirim detayı sorgulanır",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "title" : "disclosureIndex",
            "pattern" : "^\\d{1,15}$",
            "type" : "string",
            "description" : "Gönderilen indexe ait bildirim detayı sorgulanır"
          },
          "examples" : { }
        }, {
          "name" : "fileType",
          "in" : "query",
          "description" : "File Type (html|data)</i>",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "fileType",
            "pattern" : "(html|data)",
            "type" : "string",
            "description" : "File Type (html|data)</i>",
            "example" : "html"
          },
          "examples" : { }
        }, {
          "name" : "subReportList",
          "in" : "query",
          "description" : "Bu alan gönderilmezse bütün alt raporlar alınır. Bu alan gönderilirse sadece belirtilen rapor id’sine ait detay alınır.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "subReportList",
            "type" : "string",
            "description" : "Bu alan gönderilmezse bütün alt raporlar alınır. Bu alan gönderilirse sadece belirtilen rapor id’sine ait detay alınır."
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "DisclosureByIdResponse",
                  "type" : "object",
                  "properties" : {
                    "blockedStatus" : {
                      "type" : "string",
                      "properties" : {
                        "blockedStatus" : {
                          "title" : "blockedStatus",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureIndex" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureIndex" : {
                          "title" : "disclosureIndex",
                          "type" : "string"
                        }
                      }
                    },
                    "senderId" : {
                      "type" : "string",
                      "properties" : {
                        "senderId" : {
                          "title" : "senderId",
                          "type" : "string"
                        }
                      }
                    },
                    "senderTitle" : {
                      "type" : "string",
                      "properties" : {
                        "senderTitle" : {
                          "title" : "senderTitle",
                          "type" : "string"
                        }
                      }
                    },
                    "senderExchCodes" : {
                      "type" : "array",
                      "properties" : {
                        "senderExchCodes" : {
                          "title" : "senderExchCodes",
                          "type" : "array",
                          "items" : {
                            "title" : "senderExchCodes",
                            "type" : "string"
                          }
                        }
                      },
                      "items" : {
                        "title" : "senderExchCodes",
                        "type" : "string"
                      }
                    },
                    "behalfSenderId" : {
                      "type" : "string",
                      "properties" : {
                        "behalfSenderId" : {
                          "title" : "behalfSenderId",
                          "type" : "string"
                        }
                      }
                    },
                    "behalfSenderTitle" : {
                      "type" : "string",
                      "properties" : {
                        "behalfSenderTitle" : {
                          "title" : "behalfSenderTitle",
                          "type" : "string"
                        }
                      }
                    },
                    "behalfSenderExchCodes" : {
                      "type" : "array",
                      "properties" : {
                        "behalfSenderExchCodes" : {
                          "title" : "behalfSenderExchCodes",
                          "type" : "array",
                          "items" : {
                            "title" : "behalfSenderExchCodes",
                            "type" : "string"
                          }
                        }
                      },
                      "items" : {
                        "title" : "behalfSenderExchCodes",
                        "type" : "string"
                      }
                    },
                    "behalfFundId" : {
                      "type" : "string",
                      "properties" : {
                        "behalfFundId" : {
                          "title" : "behalfFundId",
                          "type" : "string"
                        }
                      }
                    },
                    "behalfFundCode" : {
                      "type" : "string",
                      "properties" : {
                        "behalfFundCode" : {
                          "title" : "behalfFundCode",
                          "type" : "string"
                        }
                      }
                    },
                    "behalfFundTitle" : {
                      "type" : "string",
                      "properties" : {
                        "behalfFundTitle" : {
                          "title" : "behalfFundTitle",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureReason" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureReason" : {
                          "title" : "disclosureReason",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureDelayStatus" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureDelayStatus" : {
                          "title" : "disclosureDelayStatus",
                          "type" : "string"
                        }
                      }
                    },
                    "relatedDisclosureIndex" : {
                      "type" : "string",
                      "properties" : {
                        "relatedDisclosureIndex" : {
                          "title" : "relatedDisclosureIndex",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureType" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureType" : {
                          "title" : "disclosureType",
                          "type" : "string"
                        }
                      }
                    },
                    "disclosureClass" : {
                      "type" : "string",
                      "properties" : {
                        "disclosureClass" : {
                          "title" : "disclosureClass",
                          "type" : "string"
                        }
                      }
                    },
                    "subject" : {
                      "title" : "Subject",
                      "type" : "object",
                      "properties" : {
                        "tr" : {
                          "type" : "string",
                          "properties" : {
                            "tr" : {
                              "title" : "tr",
                              "type" : "string"
                            }
                          }
                        },
                        "en" : {
                          "type" : "string",
                          "properties" : {
                            "en" : {
                              "title" : "en",
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "consolidation" : {
                      "type" : "string",
                      "properties" : {
                        "consolidation" : {
                          "title" : "consolidation",
                          "type" : "string"
                        }
                      }
                    },
                    "year" : {
                      "type" : "string",
                      "properties" : {
                        "year" : {
                          "title" : "year",
                          "type" : "string"
                        }
                      }
                    },
                    "period" : {
                      "title" : "Period",
                      "type" : "object",
                      "properties" : {
                        "tr" : {
                          "type" : "string",
                          "properties" : {
                            "tr" : {
                              "title" : "tr",
                              "type" : "string"
                            }
                          }
                        },
                        "en" : {
                          "type" : "string",
                          "properties" : {
                            "en" : {
                              "title" : "en",
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "relatedStocks" : {
                      "type" : "array",
                      "properties" : {
                        "relatedStocks" : {
                          "title" : "relatedStocks",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/RelatedStock"
                          }
                        }
                      },
                      "items" : {
                        "title" : "RelatedStock",
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "properties" : {
                              "code" : {
                                "title" : "code",
                                "type" : "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "summary" : {
                      "title" : "Summary",
                      "type" : "object",
                      "properties" : {
                        "tr" : {
                          "type" : "string",
                          "properties" : {
                            "tr" : {
                              "title" : "tr",
                              "type" : "string"
                            }
                          }
                        },
                        "en" : {
                          "type" : "string",
                          "properties" : {
                            "en" : {
                              "title" : "en",
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "time" : {
                      "type" : "string",
                      "properties" : {
                        "time" : {
                          "title" : "time",
                          "type" : "string"
                        }
                      }
                    },
                    "link" : {
                      "type" : "string",
                      "properties" : {
                        "link" : {
                          "title" : "link",
                          "type" : "string"
                        }
                      }
                    },
                    "attachmentUrls" : {
                      "type" : "array",
                      "properties" : {
                        "attachmentUrls" : {
                          "title" : "attachmentUrls",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/AttachmentUrls"
                          }
                        }
                      },
                      "items" : {
                        "title" : "AttachmentUrls",
                        "type" : "object",
                        "properties" : {
                          "url" : {
                            "type" : "string",
                            "properties" : {
                              "url" : {
                                "title" : "url",
                                "type" : "string"
                              }
                            }
                          },
                          "fileName" : {
                            "type" : "string",
                            "properties" : {
                              "fileName" : {
                                "title" : "fileName",
                                "type" : "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "eventType" : {
                      "type" : "string",
                      "properties" : {
                        "eventType" : {
                          "title" : "eventType",
                          "type" : "string"
                        }
                      }
                    },
                    "eventId" : {
                      "type" : "string",
                      "properties" : {
                        "eventId" : {
                          "title" : "eventId",
                          "type" : "string"
                        }
                      }
                    },
                    "htmlMessages" : {
                      "type" : "array",
                      "properties" : {
                        "htmlMessages" : {
                          "title" : "htmlMessages",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/HtmlMessages"
                          }
                        }
                      },
                      "items" : {
                        "title" : "HtmlMessages",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "properties" : {
                              "id" : {
                                "title" : "id",
                                "type" : "string"
                              }
                            }
                          },
                          "tr" : {
                            "type" : "string",
                            "properties" : {
                              "tr" : {
                                "title" : "tr",
                                "type" : "string"
                              }
                            }
                          },
                          "en" : {
                            "type" : "string",
                            "properties" : {
                              "en" : {
                                "title" : "en",
                                "type" : "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "flatData" : {
                      "type" : "array",
                      "properties" : {
                        "flatData" : {
                          "title" : "flatData",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/FlatData"
                          }
                        }
                      },
                      "items" : {
                        "title" : "FlatData",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "properties" : {
                              "id" : {
                                "title" : "id",
                                "type" : "string"
                              }
                            }
                          },
                          "content" : {
                            "type" : "object",
                            "properties" : {
                              "content" : {
                                "title" : "content",
                                "type" : "object"
                              }
                            }
                          }
                        }
                      }
                    },
                    "presentation" : {
                      "type" : "array",
                      "properties" : {
                        "presentation" : {
                          "title" : "presentation",
                          "type" : "array",
                          "items" : {
                            "$ref" : "#/components/schemas/Presentation"
                          }
                        }
                      },
                      "items" : {
                        "title" : "Presentation",
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "properties" : {
                              "id" : {
                                "title" : "id",
                                "type" : "string"
                              }
                            }
                          },
                          "content" : {
                            "type" : "object",
                            "properties" : {
                              "content" : {
                                "title" : "content",
                                "type" : "object"
                              }
                            }
                          }
                        }
                      }
                    },
                    "isBlocked" : {
                      "type" : "string",
                      "properties" : {
                        "isBlocked" : {
                          "title" : "isBlocked",
                          "type" : "string"
                        }
                      }
                    },
                    "isBlockedDescriptionTr" : {
                      "type" : "string",
                      "properties" : {
                        "isBlockedDescriptionTr" : {
                          "title" : "isBlockedDescriptionTr",
                          "type" : "string"
                        }
                      }
                    },
                    "isBlockedDescriptionEn" : {
                      "type" : "string",
                      "properties" : {
                        "isBlockedDescriptionEn" : {
                          "title" : "isBlockedDescriptionEn",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "blockedStatus" : "string",
                  "disclosureIndex" : "string",
                  "senderId" : "string",
                  "senderTitle" : "string",
                  "senderExchCodes" : [ "string" ],
                  "behalfSenderId" : "string",
                  "behalfSenderTitle" : "string",
                  "behalfSenderExchCodes" : [ "string" ],
                  "behalfFundId" : "string",
                  "behalfFundCode" : "string",
                  "behalfFundTitle" : "string",
                  "disclosureReason" : "string",
                  "disclosureDelayStatus" : "string",
                  "relatedDisclosureIndex" : "string",
                  "disclosureType" : "string",
                  "disclosureClass" : "string",
                  "subject" : {
                    "tr" : "string",
                    "en" : "string"
                  },
                  "consolidation" : "string",
                  "year" : "string",
                  "period" : {
                    "tr" : "string",
                    "en" : "string"
                  },
                  "relatedStocks" : [ {
                    "code" : "string"
                  } ],
                  "summary" : {
                    "tr" : "string",
                    "en" : "string"
                  },
                  "time" : "string",
                  "link" : "string",
                  "attachmentUrls" : [ {
                    "url" : "string",
                    "fileName" : "string"
                  } ],
                  "eventType" : "string",
                  "eventId" : "string",
                  "htmlMessages" : [ {
                    "id" : "string",
                    "tr" : "string",
                    "en" : "string"
                  } ],
                  "flatData" : [ {
                    "id" : "string"
                  } ],
                  "presentation" : [ {
                    "id" : "string"
                  } ],
                  "isBlocked" : "string",
                  "isBlockedDescriptionTr" : "string",
                  "isBlockedDescriptionEn" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/caEventStatus" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Hak Kullanım Süreç Durum Servisi",
        "description" : "Sorgulanan hak kullanım süreçlerine ait durum bilgisinin listelendiği servistir.",
        "operationId" : "getCAEventStatus",
        "parameters" : [ {
          "name" : "processRefId",
          "in" : "query",
          "description" : "Gönderilen süreç id lere ait süreç durumları listelenir.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "title" : "processRefId",
            "type" : "string",
            "description" : "Gönderilen süreç id lere ait süreç durumları listelenir."
          },
          "examples" : { }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "CAProcessStatus",
                  "type" : "object",
                  "properties" : {
                    "refId" : {
                      "type" : "number",
                      "properties" : {
                        "refId" : {
                          "title" : "refId",
                          "type" : "number"
                        }
                      }
                    },
                    "status" : {
                      "type" : "string",
                      "properties" : {
                        "status" : {
                          "title" : "status",
                          "type" : "string"
                        }
                      }
                    },
                    "statusReason" : {
                      "type" : "string",
                      "properties" : {
                        "statusReason" : {
                          "title" : "statusReason",
                          "type" : "string"
                        }
                      }
                    },
                    "completeDate" : {
                      "type" : "string",
                      "properties" : {
                        "completeDate" : {
                          "title" : "completeDate",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "refId" : 1.5,
                  "status" : "string",
                  "statusReason" : "string",
                  "completeDate" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    },
    "/blockedDisclosures" : {
      "get" : {
        "tags" : [ "Bildirim Servisleri" ],
        "summary" : "Bloklanmış Bildirimler Servisi",
        "description" : "Güncel tarihe kadar KAP sisteminde erişime kapatılan bildirimlerin ve bildirim eklerinin listesi dönülür.",
        "operationId" : "getBlockedDisclosures",
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "BlockedBase",
                  "type" : "object"
                },
                "example" : "null"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "VykErrorResponse",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "properties" : {
                        "code" : {
                          "title" : "code",
                          "type" : "string"
                        }
                      }
                    },
                    "message" : {
                      "type" : "string",
                      "properties" : {
                        "message" : {
                          "title" : "message",
                          "type" : "string"
                        }
                      }
                    }
                  }
                },
                "example" : {
                  "code" : "string",
                  "message" : "string"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ "read", "write" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "VykErrorResponse" : {
        "title" : "VykErrorResponse",
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "properties" : {
              "code" : {
                "title" : "code",
                "type" : "string"
              }
            }
          },
          "message" : {
            "type" : "string",
            "properties" : {
              "message" : {
                "title" : "message",
                "type" : "string"
              }
            }
          }
        }
      },
      "MemberInfo" : {
        "title" : "MemberInfo",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "properties" : {
              "id" : {
                "title" : "id",
                "type" : "string"
              }
            }
          },
          "title" : {
            "type" : "string",
            "properties" : {
              "title" : {
                "title" : "title",
                "type" : "string"
              }
            }
          },
          "stockCode" : {
            "type" : "string",
            "properties" : {
              "stockCode" : {
                "title" : "stockCode",
                "type" : "string"
              }
            }
          },
          "memberType" : {
            "type" : "string",
            "properties" : {
              "memberType" : {
                "title" : "memberType",
                "type" : "string"
              }
            }
          },
          "kfifUrl" : {
            "type" : "string",
            "properties" : {
              "kfifUrl" : {
                "title" : "kfifUrl",
                "type" : "string"
              }
            }
          }
        }
      },
      "CompanyInfo" : {
        "title" : "CompanyInfo",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "properties" : {
              "id" : {
                "title" : "id",
                "type" : "string"
              }
            }
          },
          "memberType" : {
            "type" : "string",
            "properties" : {
              "memberType" : {
                "title" : "memberType",
                "type" : "string"
              }
            }
          },
          "sermayeSistemi" : {
            "type" : "string",
            "properties" : {
              "sermayeSistemi" : {
                "title" : "sermayeSistemi",
                "type" : "string"
              }
            }
          },
          "kayitliSermayeTavani" : {
            "type" : "number",
            "properties" : {
              "kayitliSermayeTavani" : {
                "title" : "kayitliSermayeTavani",
                "type" : "number"
              }
            }
          },
          "kstSonGecerlilikTarihi" : {
            "type" : "string",
            "properties" : {
              "kstSonGecerlilikTarihi" : {
                "title" : "kstSonGecerlilikTarihi",
                "type" : "string"
              }
            }
          },
          "sirketUnvan" : {
            "type" : "string",
            "properties" : {
              "sirketUnvan" : {
                "title" : "sirketUnvan",
                "type" : "string"
              }
            }
          },
          "mksMbrId" : {
            "type" : "string",
            "properties" : {
              "mksMbrId" : {
                "title" : "mksMbrId",
                "type" : "string"
              }
            }
          }
        }
      },
      "MemberSecuritiesResponse" : {
        "title" : "MemberSecuritiesResponse",
        "type" : "object",
        "properties" : {
          "member" : {
            "title" : "CompanyInfo",
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "properties" : {
                  "id" : {
                    "title" : "id",
                    "type" : "string"
                  }
                }
              },
              "memberType" : {
                "type" : "string",
                "properties" : {
                  "memberType" : {
                    "title" : "memberType",
                    "type" : "string"
                  }
                }
              },
              "sermayeSistemi" : {
                "type" : "string",
                "properties" : {
                  "sermayeSistemi" : {
                    "title" : "sermayeSistemi",
                    "type" : "string"
                  }
                }
              },
              "kayitliSermayeTavani" : {
                "type" : "number",
                "properties" : {
                  "kayitliSermayeTavani" : {
                    "title" : "kayitliSermayeTavani",
                    "type" : "number"
                  }
                }
              },
              "kstSonGecerlilikTarihi" : {
                "type" : "string",
                "properties" : {
                  "kstSonGecerlilikTarihi" : {
                    "title" : "kstSonGecerlilikTarihi",
                    "type" : "string"
                  }
                }
              },
              "sirketUnvan" : {
                "type" : "string",
                "properties" : {
                  "sirketUnvan" : {
                    "title" : "sirketUnvan",
                    "type" : "string"
                  }
                }
              },
              "mksMbrId" : {
                "type" : "string",
                "properties" : {
                  "mksMbrId" : {
                    "title" : "mksMbrId",
                    "type" : "string"
                  }
                }
              }
            }
          },
          "securities" : {
            "type" : "array",
            "properties" : {
              "securities" : {
                "title" : "securities",
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/MemberSecurity"
                }
              }
            },
            "items" : {
              "title" : "MemberSecurity",
              "type" : "object",
              "properties" : {
                "isin" : {
                  "type" : "string",
                  "properties" : {
                    "isin" : {
                      "title" : "isin",
                      "type" : "string"
                    }
                  }
                },
                "isinDesc" : {
                  "type" : "string",
                  "properties" : {
                    "isinDesc" : {
                      "title" : "isinDesc",
                      "type" : "string"
                    }
                  }
                },
                "borsaKodu" : {
                  "type" : "string",
                  "properties" : {
                    "borsaKodu" : {
                      "title" : "borsaKodu",
                      "type" : "string"
                    }
                  }
                },
                "takasKodu" : {
                  "type" : "string",
                  "properties" : {
                    "takasKodu" : {
                      "title" : "takasKodu",
                      "type" : "string"
                    }
                  }
                },
                "tertipGroup" : {
                  "type" : "string",
                  "properties" : {
                    "tertipGroup" : {
                      "title" : "tertipGroup",
                      "type" : "string"
                    }
                  }
                },
                "capital" : {
                  "type" : "number",
                  "properties" : {
                    "capital" : {
                      "title" : "capital",
                      "type" : "number"
                    }
                  }
                },
                "currentCapital" : {
                  "type" : "number",
                  "properties" : {
                    "currentCapital" : {
                      "title" : "currentCapital",
                      "type" : "number"
                    }
                  }
                },
                "groupCode" : {
                  "type" : "string",
                  "properties" : {
                    "groupCode" : {
                      "title" : "groupCode",
                      "type" : "string"
                    }
                  }
                },
                "groupCodeDesc" : {
                  "type" : "string",
                  "properties" : {
                    "groupCodeDesc" : {
                      "title" : "groupCodeDesc",
                      "type" : "string"
                    }
                  }
                },
                "borsadaIslemeAcik" : {
                  "type" : "boolean",
                  "properties" : {
                    "borsadaIslemeAcik" : {
                      "title" : "borsadaIslemeAcik",
                      "type" : "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MemberSecurity" : {
        "title" : "MemberSecurity",
        "type" : "object",
        "properties" : {
          "isin" : {
            "type" : "string",
            "properties" : {
              "isin" : {
                "title" : "isin",
                "type" : "string"
              }
            }
          },
          "isinDesc" : {
            "type" : "string",
            "properties" : {
              "isinDesc" : {
                "title" : "isinDesc",
                "type" : "string"
              }
            }
          },
          "borsaKodu" : {
            "type" : "string",
            "properties" : {
              "borsaKodu" : {
                "title" : "borsaKodu",
                "type" : "string"
              }
            }
          },
          "takasKodu" : {
            "type" : "string",
            "properties" : {
              "takasKodu" : {
                "title" : "takasKodu",
                "type" : "string"
              }
            }
          },
          "tertipGroup" : {
            "type" : "string",
            "properties" : {
              "tertipGroup" : {
                "title" : "tertipGroup",
                "type" : "string"
              }
            }
          },
          "capital" : {
            "type" : "number",
            "properties" : {
              "capital" : {
                "title" : "capital",
                "type" : "number"
              }
            }
          },
          "currentCapital" : {
            "type" : "number",
            "properties" : {
              "currentCapital" : {
                "title" : "currentCapital",
                "type" : "number"
              }
            }
          },
          "groupCode" : {
            "type" : "string",
            "properties" : {
              "groupCode" : {
                "title" : "groupCode",
                "type" : "string"
              }
            }
          },
          "groupCodeDesc" : {
            "type" : "string",
            "properties" : {
              "groupCodeDesc" : {
                "title" : "groupCodeDesc",
                "type" : "string"
              }
            }
          },
          "borsadaIslemeAcik" : {
            "type" : "boolean",
            "properties" : {
              "borsadaIslemeAcik" : {
                "title" : "borsadaIslemeAcik",
                "type" : "boolean"
              }
            }
          }
        }
      },
      "CompanyDetailResponse" : {
        "title" : "CompanyDetailResponse",
        "type" : "object",
        "properties" : {
          "nameTr" : {
            "type" : "string",
            "properties" : {
              "nameTr" : {
                "title" : "nameTr",
                "type" : "string"
              }
            }
          },
          "nameEn" : {
            "type" : "string",
            "properties" : {
              "nameEn" : {
                "title" : "nameEn",
                "type" : "string"
              }
            }
          },
          "key" : {
            "type" : "string",
            "properties" : {
              "key" : {
                "title" : "key",
                "type" : "string"
              }
            }
          },
          "publishDateTime" : {
            "type" : "string",
            "properties" : {
              "publishDateTime" : {
                "title" : "publishDateTime",
                "type" : "string"
              }
            }
          },
          "value" : {
            "type" : "object",
            "properties" : {
              "value" : {
                "title" : "value",
                "type" : "object"
              }
            }
          }
        }
      },
      "LastDisclosureIndexResponse" : {
        "title" : "LastDisclosureIndexResponse",
        "type" : "object",
        "properties" : {
          "lastDisclosureIndex" : {
            "type" : "string",
[...]
